:root {
    --primary-color: rgb(247, 0, 255);
    --bg-color: #020305;
    --bg-color-secondary: #0b121f;
    --text-color: rgb(156, 175, 171);
    --color: rgb(221, 221, 221);
    --header-color: white;
    --nav-link-color: rgba(255, 255, 255, 0.7);
}